<h2>Edit product</h2>
<hr>
<form>
  <div class="row">
    <div class="col-4">
      <input
        type="hidden"
        id="id"
        value={{product.id}}>
      <div class="input-group mb-3">
        <label class="mr-2">Title:&nbsp;&nbsp;</label>
        <input
          type="text"
          placeholder="Enter product title"
          value={{product.title}}
          class="form-control"
          placeholder="Enter product title">
        <p class="text-danger"></p>
      </div>
      <div class="input-group mb-3">
        <label class="mr-2">Price:&nbsp;&nbsp;</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter product price"
          value={{product.price}}>
        <p class="text-danger"></p>
      </div>
    </div>
    <div class="col-8">
      <label for="productDescription">Description:</label>
      <textarea
        class="form-control"
        id="productDescription"
        value={{product.description}}
        rows="3"></textarea>
    </div>
  </div>
  <hr>
  <div class="row justify-content-end">
    <button
      class="btn btn-primary col-1"
      type="submit">Submit</button>
  </div>
</form>