<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    routerLink="/">EShop</a>
  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"><a
        class="nav-link"
        routerLink="/catalog">Catalog</a></li>
      <li
        class="nav-item"
        routerLinkActive="active"><a
        class="nav-link"
        routerLink="/cart">My cart</a></li>
      <li
        class="nav-item"
        routerLinkActive="active"><a
        class="nav-link"
        routerLink="/profile">My personal info</a></li>
    </ul>
  </div>
  <div *ngIf="!isLogged">
    <button
      class="btn btn-primary"
      routerLink="/login"
      (click)="check()">Log in</button>
  </div>
  <div *ngIf="isLogged">
    <button
      class="btn btn-primary"
      (click)="check()">Log out</button>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>