<h2>Product info</h2>
<hr>
<div class="row">
  <div class="col-4">
    <div class="row">
      <label>Title:&nbsp;&nbsp;{{product.title}}</label>
    </div>
    <div class="row">
      <label>Price:&nbsp;&nbsp;{{product.price}}</label>
    </div>
  </div>
  <div class="col-8">
    <label for="productDescription">Description:</label>
    <textarea
      class="form-control"
      id="productDescription"
      rows="3"></textarea>
  </div>
</div>
<hr>
<div class="row justify-content-end">
  <button
    class="btn btn-primary col-1"
    routerLink="/catalog">OK</button>
</div>