<form>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label class="mr-2">Search:&nbsp;&nbsp;</label>
        <input
          type="text"
          class="form-control"
          placeholder="I find..."
          (keyup.enter)="searchFilterHandler($any($event.target).value)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="input-group mb-3">
        <label>Min price:&nbsp;&nbsp;</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter min price"
          (keyup.enter)="minPriceFilterHandler($any($event.target).value)">
      </div>
    </div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <label> Max price:&nbsp;&nbsp;</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter max price"
          (keyup.enter)="maxPriceFilterHandler($any($event.target).value)">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group mb-3">
        <label>Show:&nbsp;&nbsp;</label>
        <select
          class="custom-select form-control"
          (change)="amountEntitiesHandler($any($event.target).value)">
          <option *ngFor="let opt of amountEntities">{{opt}}</option>
        </select>
      </div>
    </div>
  </div>
</form>
