<h2>My cart</h2>
<hr>
<form>
  <div
    class="form-group row"
    *ngFor="let item of content; index as i">
    <label class="col-1">{{i+1}}</label>
    <label class="col-7"> <a routerLink="/info/{{item.product_id}}">{{item.title}}</a></label>
    <label class="col-1">{{item.price*item.quantity}}&#8381; </label>
    <div class="col-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary input-group-prepend rounded-circle btn-sm">-</button>
        </div>
        <input
          type="text"
          readonly
          value="{{item.quantity}}"
          class="form-control">
        <div class="input-group-append">
          <button class="btn btn-secondary rounded-circle btn-sm">+</button>
        </div>
      </div>
    </div>
    <button class="col-1 btn btn-secondary mb-3">Delete</button>
  </div>
  <hr>
  <div class="row justify-content-end">
    <div
      class="col-3"
      role="status"
      aria-live="polite">Total: {{getTotal()}}</div>
    <button
      class="btn btn-primary col-1"
      type="submit">Submit</button>
  </div>
</form>
